/* src/index.css */

/* Import Tailwind CSS styles */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Custom styles */


/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

/* Additional custom styles */


.tooltip {
  bottom: calc(100% + 2px);
  left: 40%;
  transform: translateX(-50%);
  transition: opacity 0.3s;
  white-space: nowrap;
}

.element:hover .tooltip {
  opacity: 1;
}